body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    width: 600px;
    height: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
}

.container a {
    text-decoration: none;
}

.details-section {
    background-color: white;
    width: 55%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.input-section {
    background-color: #087830;
    color: white;
    width: 75%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.input-section button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: #065C32;
    color: white;
}

.input-section a {
    color: white;
}
